<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="timeout.css">

    <title>Take Some Rest</title>
  </head>
  <body>

  <script src="jquery-1.11.0.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src="backbone-min.js"></script>
  <script src="timeout.js"></script>

  <datalist id="work-delay-options">
    <select>
      <option value="5" />
      <option value="10" />
      <option value="15" />
      <option value="20" />
      <option value="25" />
      <option value="30" />
      <option value="35" />
      <option value="40" />
      <option value="45" />
      <option value="50" />
      <option value="55" />
      <option value="60" />
    </select>
  </datalist>

  <script type="text/template" id="timer-template">
    <div>
      <form id="timer-<%= id %>" class="timer-frontend">
        <fieldset>
          <legend><%- title %></legend>
          <label>Work for</label>
          <input type="number" min="2" max="900" value="55" class="work-delay">
          <span class="after-input">seconds</span>
          <label>and then break for</label>
          <input type="number" min="10" max="30" value="5" class="break-delay">
          <span class="after-input">seconds</span>
          <input type="button" class="settings-update" value="Set">
          <progress value="0" max="100"></progress>

          <div class="relative tilt-up align-right"><span class="em">Break in </span><span class="work-time-left">00:00:00</span></div>
          <div class="relative tilt-up align-right"><span class="em">Break ends in </span><span class="break-time-left">00:00:00</span></div>
          <!--<input type="button" class="timer-stop" value="Stop">-->
        </fieldset>
      </form>
    </div>
  </script>

  <div id="content-wrapper">
  </div>

  <div>
    <input type="button" value="Add timer" onclick="Timers.add()">
    <input type="button" value="Quit" onclick="quit()">
  </div>

  <script>
    Timers.add();

    var gui = require('nw.gui');
    var tray = new gui.Tray({ icon: 'icon.png' });

    function quit() {
      gui.App.quit();
    }

    var menu = new gui.Menu();
    menu.append(
      new gui.MenuItem({
        label: 'Quit',
        click: function() {
          gui.App.quit();
        }
      })
    );
    tray.menu = menu;

    //


    var afk = require('afk');

    var seconds = 3;

    var listenerId = afk.addListener(seconds, function(e) {
      Timers.setAFKState(e.status == 'away');
//      afk.removeListener(e.id);
    });
    console.log(listenerId);

  </script>

  </body>
</html>
